<!DOCTYPE html>

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Initial setup</h1>
            </div>
            <div class="col-12">
                <h4>Store Branding</h2>
                <p class="text-muted">Branding customization is currently not implemented</p>
            </div>
            <div class="col-12">
                <form id="admin" method="post" action="setup">
                    <div class="mb-3">
                        <label for="username" class="form-label">Name (Not Implemented)</label>
                        <input required="required" type="text" class="form-control" name="name">
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email (Not Implemented)</label>
                        <input required="required" type="text" class="form-control" name="email">
                    </div>
                    <div class="mb-3">
                        <label for="primary" class="form-label">Primary Color (Not Implemented)</label>
                        <input required="required" type="text" class="form-control" name="primary">
                    </div>
                    <div class="mb-3">
                        <label for="secondary" class="form-label">Secondary Color (Not Implemented)</label>
                        <input required="required" type="text" class="form-control" name="secondary">
                    </div>
                    <div class="mb-3">
                        <label for="logo" class="form-label">Logo (Not Implemented)</label>
                        <input required="required" type="file" class="form-control" name="logo">
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>