<!DOCTYPE html>

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Initial setup</h1>
            </div>
            <div class="col-12">
                <h4>Setup for Email Notifications</h2>
            </div>
            <div class="col-12">
                <form id="admin" method="post" action="">
                    <div class="mb-3">
                        <label for="host" class="form-label">Host</label>
                        <input required="required" type="text" class="form-control" name="host">
                    </div>
                    <div class="mb-3">
                        <label for="port" class="form-label">Port</label>
                        <input required="required" type="number" class="form-control" name="port">
                    </div>
                    <div class="mb-3">
                        <input required="required" type="checkbox" class="form-check-input" name="secure">
                        <label for="secure" class="form-check-label">Use TLS</label>
                    </div>
                    <div class="mb-3">
                        <label for="user" class="form-label">Username</label>
                        <input required="required" type="text" class="form-control" name="user">
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input required="required" type="text" class="form-control" name="password">
                    </div>
                    <div class="mb-3">
                        <button class="btn btn-primary" class="form-control" id="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>